.container-singlePet {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card-singlePage {
    min-width: 500px !important;
}

.avatar-pedidos {
    box-sizing: border-box;
    border: 1px solid #3b2712;
    padding: 20px;
    border-radius: 100%;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .3);
}

@media only screen and (max-width: 992px) {
    .container-singlePet {
        margin-top: 50px;
    }
    .card-pet {
        margin-top: 20px;
    }
    .card-singlePage {
        min-width: auto !important;
    }
}
