.form-pet{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-formPet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.form-pet h3{
    margin-bottom: 30px;
}

.btn-brown{
    background: none;
    background-color: #3b2712;
    border: none;
}

.btn-brown:hover{
    color: #fff;
    background: #90602d;
}

.form-pet .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active{
    color: #fff;
    background: #90602d;
}

.avatar-pet{
    box-sizing: border-box;
    border: 1px solid #3b2712;
    padding: 20px;
    border-radius: 100%;
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .3);
}

.formPet{
    width: 500px;
    height: auto;
    padding: 35px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .3);
    color: #2a3844;
    box-sizing: border-box;
}

.btn-formPet{
    margin-top: 35px;
    width: 100%;
    border-radius: 10px;
    background-color: #3b2712;
    border: 1px;
}

.btn-formPet:hover{
    color: #fff;
    background: #90602d;
}


@media only screen and (max-width: 992px) {
    .form-pet {
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .avatar-pet {
        margin-bottom: 20px;
    }


}



